@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{

  .formContainer {
    @apply flex lg:justify-between lg:gap-20 gap-5 lg:flex-row flex-col; 
  }

  .chip-Selected {
    @apply bg-primaryGold font-bold text-white;
  }

  .chipBtn {
    @apply rounded-[12px] border border-primaryGold  px-[29px] py-[16px] text-lg lg:text-md text-primaryGold xl:text-lg;
  }

  .chipBtnWithMoreRadius {
    @apply h-[50px] w-full max-w-[80px] rounded-[49px] xl:h-[55px] xl:max-w-[120px];
  }

  .chip-Selected {
    @apply bg-primaryGold font-bold text-white;
  }

  .ContactFormClass {
    @apply flex w-full flex-col gap-7;
  }
  
  .ContactFormNameContainer {
    @apply flex flex-col lg:flex-row lg:gap-8;
  }
  
  .ContactFormOrderReciptMsgContainer {
    @apply flex flex-col gap-7;
  }
  
  .ContactFormReCAPTCHA {
    @apply flex flex-col items-center justify-center;
  }
  
  .ContactFormMobileSubmitBtn {
    @apply h-[56px] w-full flex-1 rounded-full text-2xl lg:text-2xl font-semibold leading-4  xl:py-[21px];
  }
  
  .ContactFormDesktopSubmitBtn {
    @apply  h-[50px] w-full items-center justify-center rounded-full  text-xl font-medium leading-4 text-white flex xl:py-[21px];
  }

  .labelText {
    @apply block md:text-lg text-md font-semibold leading-5 text-primaryGold ;
  }


  .rotate-x-90 {
    transform: rotateX(90deg);
  }
  .rotate-x-0{
    transform: rotateX(0);
  }
  .-rotate-x-90 {
    transform: rotateX(-90deg);
  }

}
